examples/** linguist-documentation=false linguist-vendored=false
*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.c linguist-detectable=true
*.c linguist-language=C
*.html linguist-detectable=true
*.html linguist-language=HTML
